/* Common CSS */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    font-size: 16px;
    font-weight: 400;
    color: #787885;
    background-color: FFF;
    text-rendering: optimizeLegibility;
}

/* Reusable Components */

.row {
    max-width: 1440px;
    margin: auto;
}

h3 {
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
    font-size: 24px;
    font-weight: 700;
}

button {
    border: 0;
    background-color: #fff;

}

section {
    margin: 30px 0;
}

.section-description {
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}

/* Header Section */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

nav ul {
    list-style: none;
}

nav ul li:first-child a {
    display: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}



nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 600;
}

.search-icon,
.cart-icon,
.menu-icon {
    color: #3A3A3A;
    font-size: 24px;
    margin-bottom: -5px;
}

/* Hero section */


.hero-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
}

h1 {
    color: #3A3A3A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 52px;
    font-weight: 700
}

.hero-item1 {
    width: 100%;
}

.hero-item2 {
    width: 100%;
    margin-left: 300px;
}

.hero-item2,
.circle {
    position: relative;
    top: 100px;
    right: 0;

}

.hero-item2,
.main-camera {
    position: relative;
    bottom: 350px;

}

.hero-text-box .section-description {
    margin: 20px 0;
}

.arrow-icon {
    margin-bottom: -3px;
    color: #fff;
}

.btn-primary {
    border-radius: 41px;
    background: #E02C6D;
    color: #fff;
    padding: 10px 15px;
}

/* media Query Apply */

@media screen and (max-width:768px) {
    .row {
        margin: 45px 30px 0 30px;
    }

    nav {
        position: relative;
    }

    header h3 {
        font-size: 24px;
        position: absolute;
        left: 0;
        width: 300px;
        margin: auto;
        top: 0;
        right: 0;
    }

    nav ul li a,
    .search-icon {
        display: none;
    }

    nav ul li:first-child a {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
    }

    .search-icon,
    .cart-icon,
    .menu-icon {
        color: #3A3A3A;
        font-size: 34px;
        margin-bottom: -5px;
    }

    .cart-icon {
        position: absolute;
        top: 0;
        right: 0;
    }

    .hero-container {
        flex-direction: column-reverse;
    }

}

/* Partner Section Style */

.image-container {
    display: flex;
    justify-content: space-around;
}
/* Product Section Style */

#products h3 {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin: 60px;
}
.grid-product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

}
.grid-product-item {
    padding: 20px;
    box-shadow: 5px 0 10px 5px;
    display: inline-block;
    border-radius: 10px;
}
.grid-product-item img {
    width: 100%;
}
.grid-product-item:hover img {
    opacity: 0.7;
}

.product-title {
    font-size: 24px;
    color: #000;
    margin: 15px 0 10px 0;
}
.product-price {
    color: #000;
}

.rating {
    margin: 10px 0;
    color: #FB8200;
}
.grid-product-item p {
    font-size: 14px;
    line-height: 1.6;
}
.see-more a{
    display: block;
    text-align: right;
    text-decoration: none;
    color: #E02C6D;
    margin-top: 20px;
    font-weight: 600;
    font-size: 14px;
}

.arrow-icons {
    margin-bottom: -3px;
}

/* Feature Section Style */
#feature {
    margin-top: 80px;
}
.feature-container {
    display: flex;
    align-items: center;
}
.feature-content-box {
    width: 80%;
    margin-left: 100px;

}
.feature-content-box h2 {
    color: #000;
    margin: 20px 0;
}

.btn-join {
    border-radius: 0;
    margin: 15px 0;
}

/* Footer Section Style */

footer {
    background-color: #0A0826;
    margin-top: 90px;
    padding: 60px 0;
    text-align: center;
    color: #D9DBE1;
}

footer h3 {
    color: #fff;
}

footer p {
    margin: 10px 0;
}
.social-media ul {
    list-style: none;
}

.social-media ul li {
    display: inline-block;
    margin-top: 10px;
}

.social-media ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    margin-right: 15px;

}

.social-media ul li:last-child a {
    margin-right: 0;
}

.social-media ul li:hover a {
    color: #E02C6D;
}
@media screen and (max-width: 576px) {

    .row {
        margin: 45px 30px 0 30px;
    }

    nav {
        position: relative;
    }

    header h3 {
        font-size: 16px;
        position: absolute;
        left: 0;
        width: 200px;
        margin: auto;
        top: 0;
        right: 0;
    }

    nav ul li a,
    .search-icon {
        display: none;
    }

    nav ul li:first-child a {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
    }


    .cart-icon {
        position: absolute;
        top: 0;
        right: 0;
    }

    .grid-product-container {
        grid-template-columns: 1fr;
        grid-gap: 20px 0;
    
    
    }
}